.toggle,
.play,
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  &:hover {
    background-color: var(--primary);
    color: var(--background);
  }
}

.game {
  display: flex;
  flex-flow: row;

  color: var(--text);
  background-color: var(--background-lighten);
  accent-color: var(--accent);

  & .nav {
    width: 70rem;
    height: 100vh;
    margin: 0px;

    top: 0px;
    position: sticky;

    background-color: var(--background);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: unset;

    font-weight: bold;

    & hr { 
      width: 100%;
      position: relative;
      right: 3px;
      margin: 0px;
    }
    & .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.4rem;
      & .text {
        margin: 8px;
      }

      & .toggle {
        margin-left: auto;
        font-size: 2rem;
      }
    }

    & .selection {
      padding: 0.4rem;
      .btn {
        padding: 0.5rem;
        margin: 4px 0rem;
        border-radius: 4px;
        &:hover {
          cursor: pointer;
          background-color: var(--primary);
          color: var(--background);
        }
      }
    }

    & .bottom {
      padding: 0.4rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      background-color: var(--background-harden);
    }
  }

  & .info {
    padding: 2rem 6rem;

    & .title {
      text-align: center;
    }
  }
}
